<ng-container *ngIf="auth.authUser$ | async as user">
  <ng-container *ngIf="user.role === 'student'; else adminForm">
    <ng-container *ngIf="!registered; else alreadyRegistered">
      <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastname" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Course</mat-label>
          <mat-select formControlName="course" required>
            <mat-option *ngFor="let course of courses$ | async" [value]="course">{{ course }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Register</button>
      </form>
    </ng-container>
    <ng-template #alreadyRegistered>
      <div>
        You have already registered for the <b>{{ registered?.course }}</b> course, it starts in August.
      </div>
    </ng-template>
  </ng-container>
  <ng-template #adminForm>
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastname" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Course</mat-label>
        <mat-select formControlName="course" required>
          <mat-option *ngFor="let course of courses$ | async" [value]="course">{{ course }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
  </ng-template>
</ng-container>
