<mat-toolbar class="navbar">
  <span class="logo">
    <mat-icon class="logoIcon">school</mat-icon>
    Inscripción Alumnos
  </span>
  <span class="spacer"></span>
  <button mat-button class="navBtn">Inicio</button>
  <button mat-button class="navBtn">Cursos</button>
  <button mat-button class="navBtn">Inscripciones</button>
  <span class="userInfo" *ngIf="auth.authUser$ | async as user">
    <mat-icon>person</mat-icon>
    {{ "Bienvenido " + user.username + " - " + user.role }}
    <button mat-stroked-button color="warn" class="logoutBtn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </span>
</mat-toolbar>
