<mat-table [dataSource]="inscripciones">
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let inscripcion"> {{inscripcion.nombre}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="apellido">
    <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
    <mat-cell *matCellDef="let inscripcion"> {{inscripcion.apellido}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="curso">
    <mat-header-cell *matHeaderCellDef> Curso </mat-header-cell>
    <mat-cell *matCellDef="let inscripcion"> {{inscripcion.curso}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let inscripcion; let i = index">
      <button mat-button color="warn" (click)="eliminarAlumno(i)">Eliminar</button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>