<mat-table [dataSource]="inscripciones">
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let inscripcion"> {{inscripcion.nombre}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="apellido">
    <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
    <mat-cell *matCellDef="let inscripcion"> {{inscripcion.apellido}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="curso">
    <mat-header-cell *matHeaderCellDef> Curso </mat-header-cell>
    <mat-cell *matCellDef="let inscripcion"> {{inscripcion.curso}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let inscripcion; let i = index">

      <ng-container *ngIf="(auth.authUser$ | async)?.role === 'admin'">
        <button mat-icon-button color="primary" (click)="editarAlumno(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminarAlumno(i)"><mat-icon>delete</mat-icon></button>
      </ng-container>

    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div *ngIf="editIndex !== null" class="edit-form">
  <form [formGroup]="editForm" (ngSubmit)="guardarEdicion()">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Curso</mat-label>
      <mat-select formControlName="curso">
        <mat-option *ngFor="let curso of cursos" [value]="curso">{{ curso }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
    <button mat-button type="button" (click)="cancelarEdicion()">Cancelar</button>
  </form>
</div>