<app-nav-bar></app-nav-bar>
<div class="courses-container">
  <h2>Available Courses</h2>
  <ul class="courses-list">
    <li *ngFor="let course of courses$ | async; let courseIndex = index" class="course-item">
      <span *ngIf="editIndex !== courseIndex">{{ course }}</span>
      <input *ngIf="editIndex === courseIndex"
             [value]="editCourseValue"
             (input)="onEditCourseInput($event)"
             class="edit-input"/>
      <ng-container *ngIf="(auth.authUser$ | async)?.role === 'admin'">
        <button mat-icon-button color="primary" *ngIf="editIndex !== courseIndex" (click)="editCourse(courseIndex)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="accent" *ngIf="editIndex === courseIndex" (click)="saveCourse(courseIndex)">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button color="warn" *ngIf="editIndex === courseIndex" (click)="cancelEdit()">
          <mat-icon>close</mat-icon>
        </button>
      </ng-container>
    </li>
  </ul>
  <div *ngIf="(auth.authUser$ | async)?.role === 'admin'" class="add-course-form">
    <input [value]="newCourse" (input)="onNewCourseInput($event)" placeholder="New course" class="add-input"/>
    <button mat-raised-button color="primary" (click)="addCourse()" [disabled]="!newCourse">Add</button>
  </div>
</div>